
.loading{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    place-items: center;
    background-color: #fff;
}
.loading p{
    position: absolute;
}


@keyframes rotar{
    100%{
        transform: rotate(360deg);
    }
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}